In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot
import numpy as np
import matplotlib.pyplot as plt

In [30]:
data=pd.read_csv("Data/adult_mortality_by_country.csv",header=1)
mortality=data.drop(columns=['Male','Female'])
mortality=mortality.rename(columns={"Both sexes": "mortality_rate"})
mortality['mortality_rate'].describe()
mortality['Year']=pd.to_datetime(mortality['Year'],format='%Y')

#medical doctors
data=pd.read_csv("Data/medical_doctors.csv")
doctors=data.drop(data.columns[[3,4,5,6]], axis=1)
doctors['Year']=pd.to_datetime(doctors['Year'],format='%Y')
doctors=doctors.rename(columns={"Medical doctors (per 10 000 population)": "medical_doctors"})
merged_data = pd.merge(left=mortality, right=doctors,on=['Country', 'Year'])


# #current health expenditures
# data=pd.read_csv("Data/current_health_expenditure.csv")
# doctors=data.drop(data.columns[[3,4,5,6]], axis=1)
# doctors['Year']=pd.to_datetime(doctors['Year'],format='%Y')
# doctors=doctors.rename(columns={"Medical doctors (per 10 000 population)": "medical_doctors"})
# merged_data = pd.merge(left=mortality, right=doctors,on=['Country', 'Year'])

#bed density
data=pd.read_csv("Data/hospital_bed_density.csv")
hospital_beds=data
hospital_beds['Year']=pd.to_datetime(hospital_beds['Year'],format='%Y')
hospital_beds=hospital_beds.rename(columns={"Hospital beds (per 10 000 population)": "hospital_beds"})
merged_data = pd.merge(left=merged_data, right=hospital_beds,on=['Country', 'Year'])

#pharmaceutical_personnel
data=pd.read_csv("Data/pharmaceutical_personnel.csv")
pharma=data
pharma=pharma.drop(columns=["Pharmacists (number)","Pharmaceutical Technicians and Assistants (number)"])
pharma['Year']=pd.to_datetime(pharma['Year'],format='%Y')
pharma=pharma.rename(columns={"Pharmacists  (per 10 000 population)": "Pharmacists"})
merged_data = pd.merge(left=merged_data, right=pharma,on=['Country', 'Year'])

#che
data=pd.read_csv("Data/current_health_expenditure.csv",header=1)
che=pd.melt(data, id_vars=['Country'],var_name="Year", value_name="Value")
che=che.sort_values(by=['Country'])
che['Year']=pd.to_datetime(che['Year'],format='%Y')
che=che.rename(columns={"Value": "Che"})
merged_data = pd.merge(left=merged_data, right=che,on=['Country', 'Year'])

In [31]:
merged_data

,Country,Year,mortality_rate,medical_doctors,hospital_beds,Pharmacists,Che
0,Afghanistan,2016-01-01,245,2.782,5.0,0.473,61.5
1,Afghanistan,2015-01-01,233,2.850,5.0,0.497,60.1
2,Afghanistan,2014-01-01,234,2.983,5.0,0.513,60.1
3,Afghanistan,2012-01-01,242,2.414,5.3,0.271,52.2
4,Afghanistan,2011-01-01,248,2.518,4.4,0.278,51.6
...,...,...,...,...,...,...,...
919,Viet Nam,2010-01-01,132,7.100,29.1,2.671,78.2
920,Viet Nam,2005-01-01,137,6.139,23.4,1.800,34.8
921,Yemen,2014-01-01,226,5.251,7.1,1.052,79.7
922,Yemen,2004-01-01,248,3.449,5.9,0.473,38.2
923,Zambia,2010-01-01,364,0.614,20.0,0.233,54.4

In [19]:
data=pd.read_csv("Data/current_health_expenditure.csv",header=1)
che=pd.melt(data, id_vars=['Country'],var_name="Date", value_name="Value")
che=che.sort_values(by=['Country'])